<div class="ml-[32px] pb-4 text-white mt-5">
  <div class="playlist-tracks-header">
    <div class="playlist-tracks-grid">
      <div>#</div>
      <div class="text-xs uppercase ellipsis-one-line">Title</div>
      <div class="text-xs uppercase ellipsis-one-line">Album</div>
      <div class="text-xs uppercase ellipsis-one-line">Date added</div>
      <div class="text-xs uppercase ellipsis-one-line">
        <svg
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          fit=""
          height="40%"
          width="40%"
          preserveAspectRatio="xMidYMid meet"
          focusable="false"
        >
          <path
            d="M7.999 3h-1v5h3V7h-2V3zM7.5 0a7.5 7.5 0 100 15 7.5 7.5 0 000-15zm0 14A6.508 6.508 0 011 7.5C1 3.916 3.916 1 7.5 1S14 3.916 14 7.5 11.084 14 7.5 14z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
