:host {
  @apply flex items-center;
}

.track-cover {
  width: 40px;
  display: flex;
  flex-shrink: 0;
  user-select: none;
  @apply mr-4;
}

.media-cover {
  width: 100%;
  position: relative;
  background-color: #333;
  background-position: center;
  background-size: cover;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

