:host::ng-deep {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .app-layout {
    min-height: 100vh;
  }

  .menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .sidebar-logo {
    position: relative;
    height: 56px;
    overflow: hidden;
    line-height: 56px;
    transition: all 0.3s;
    text-align: center;
  }

  .sidebar-logo img {
    &.logo {
      height: 44px;
    }

    &.favicon {
      height: 32px;
    }

    width: auto;
    display: inline-block;
    vertical-align: middle;
  }

  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }

  nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }

  .app-header {
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  }

  nz-content {
    width: 100%;
  }

  .inner-content {
    height: 100%;
  }

  nz-layout {
    background-color: #e9eef5;
  }

  .menu-input-search {
    background-color: var(--ant-primary-5);
    color: white;
    border: 1px solid var(--ant-primary-5);

    ::placeholder {
      color: #fff;
      opacity: 50%;
    }

    input {
      background-color: var(--ant-primary-5);
      color: #fff;
    }

    i {
      color: #fff;
      opacity: 50%;
    }
  }

  .menu-group-name {
    margin: 36px 32px 20px;
  }

  .nav-wrap {
    display: inline;
    float: right;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    transition: all 0.3s;

    .nav {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      >li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;

        .nav-item {
          display: block;
          min-width: 48px;
          padding: 8px 2px;
          line-height: 100%;
          text-align: center;
          border-radius: 2px;
          outline: none;
          cursor: pointer;
          transition: background-color 300ms;

          img:hover {
            border: 4px solid var(--ant-primary-hover);
            border-radius: 50%;
          }
        }
      }
    }
  }

  .menu-wrap {
    max-height: calc(100vh - 168px);
    min-height: calc(100vh - 168px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }

  nz-sider {
    .ant-layout-sider-trigger {
      border-top: 1px solid var(--ant-primary-7);
    }
  }
}
nz-header {
  background: #fff;
  padding: 0;
}
nz-sider {
  background: #0ea5e9;
  padding: 0;
}
