<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="/main/home" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Music MP3</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngFor="let menu of groupMenus">
      <li nz-menu-item nzMatchRouter *ngIf="!menu.children; else children">
        <a [routerLink]="menu.path" nz-tooltip nzTooltipPlacement="topLeft">
          <span nz-icon nzType="{{menu.icon}}" nzTheme="outline"></span>
          <span>{{ menu.display | translate }}</span>
        </a>
      </li>
      <ng-template #children>
        <li nz-submenu nzOpen nzIcon="{{menu.icon}}" nzTitle="{{menu.display | translate}}">
          <div *ngIf="menu.children">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/welcome">Welcome</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>Monitor</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>Workplace</a>
              </li>
            </ul>
          </div>
        </li>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-now-playing></app-now-playing>
  </nz-layout>
</nz-layout>
