<nz-drawer
  [nzVisible]="(isVisibleFormAlbum$ | async) || false"
  [nzFooter]="drawFooter"
  (nzOnClose)="onClosed()"
  nzPlacement="right"
  nzWidth="800px"
  [nzTitle]="
    (isEdit$ | async)
      ? ('ACTION.ALBUM_EDIT' | translate)
      : ('ACTION.ALBUM_CREATE' | translate)
  "
>
  <ng-container *nzDrawerContent>
    <nz-spin [nzSpinning]="isFormLoadingAlbum$ | async">
      <form nz-form [formGroup]="formGroup" [nzLayout]="'vertical'">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired="true" nzFor="'name'">
                {{ 'ADMIN.CATEGORY_FORM.NAME' | translate }}
              </nz-form-label>
              <nz-form-control
                nzErrorTip="{{
                  'MESSAGE.REQUIRED'
                    | translate
                      : { field: 'ADMIN.CATEGORY_FORM.NAME' | translate }
                }}"
              >
                <input
                  type="text"
                  formControlName="name"
                  id="name"
                  nz-input
                  class="input-form"
                  placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                  maxLength="50"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired="true" nzFor="'image'">
                {{ 'ADMIN.CATEGORY_FORM.IMAGE' | translate }}
              </nz-form-label>
              <nz-form-control
                nzErrorTip="{{
                  'MESSAGE.REQUIRED'
                    | translate
                      : { field: 'ADMIN.CATEGORY_FORM.IMAGE' | translate }
                }}"
              >
                <div class="flex justify-between">
                  <div class="">
                    <input
                      type="file"
                      placeholder="Chọn file ảnh"
                      (change)="onFileChangeImage($event)"
                      formControlName="image"
                      id="image"
                    />
                    <button nz-button (click)="upLoadImage()">
                      <span nz-icon nzType="upload"></span>
                      Tải ảnh lên
                    </button>
                  </div>
                  <img
                    *ngIf="isEdit$ | async"
                    src="{{ formGroup.get('image')?.value }}"
                    alt=""
                  />
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="'description'">
                {{ 'ADMIN.CATEGORY_FORM.DESCRIPTION' | translate }}
              </nz-form-label>
              <nz-form-control
                nzErrorTip="{{
                  'MESSAGE.REQUIRED'
                    | translate: { field: 'ADMIN.CATEGORY_FORM.DESCRIPTION | translate }
                }}"
              >
                <textarea
                  nz-input
                  class="input-form"
                  formControlName="description"
                  placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                  nzAutosize
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-spin>
  </ng-container>
  <ng-template #drawFooter>
    <nz-button-group class="float-right">
      <button nz-button nzType="default" (click)="onClosed()" class="mr-2.5">
        {{ 'ACTION.CANCEL' | translate }}
      </button>
      <button nz-button nzType="primary" (click)="onSubmit()">
        {{ 'ACTION.SAVE' | translate }}
      </button>
    </nz-button-group>
  </ng-template>
</nz-drawer>
