<div nz-row>
  <div nz-col nzSpan="18">
    <form
      nz-form
      [formGroup]="formGroup"
      [nzLayout]="'vertical'"
      class="form-login"
    >
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzFor="'passwordOld'">
              <div class="text-white">
                {{ 'CHANGE_PASSWORD.PASSWORD_OLD' | translate }}
              </div>
            </nz-form-label>
            <nz-form-control [nzErrorTip]="passwordOld">
              <input
                type="password"
                formControlName="passwordOld"
                id="passwordOld"
                nz-input
                placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                maxLength="50"
                class="w-[760px] p-4 border border-gray-100 rounded-lg bg-white outline-none transition-all focus:border-blue-500"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzFor="'passwordNew'">
              <div class="text-white">
                {{ 'CHANGE_PASSWORD.PASSWORD_NEW' | translate }}
              </div>
            </nz-form-label>
            <nz-form-control [nzErrorTip]="passwordNew">
              <input
                type="password"
                formControlName="passwordNew"
                id="passwordNew"
                nz-input
                placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                maxLength="50"
                class="w-[760px] p-4 border border-gray-100 rounded-lg bg-white outline-none transition-all focus:border-blue-500"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzFor="'passwordConfirm'">
              <div class="text-white">
                {{ 'CHANGE_PASSWORD.PASSWORD_CONFIRM' | translate }}
              </div>
            </nz-form-label>
            <nz-form-control [nzErrorTip]="passwordConfirm">
              <input
                type="password"
                formControlName="passwordConfirm"
                id="passwordConfirm"
                nz-input
                placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                maxLength="50"
                class="w-[760px] p-4 border border-gray-100 rounded-lg bg-white outline-none transition-all focus:border-blue-500"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
    <div class="flex justify-center">
      <button
        class="bg-[#1fdf64] text-black rounded-lg mt-5 font-semibold"
        nzSize="large"
        nz-button
      >
        Cập nhập
      </button>
    </div>
  </div>
  <div nz-col nzSpan="6">
    <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
  </div>
  <ng-template #passwordConfirm let-control>
    <ng-container *ngIf="control.hasError('required')">
      {{
        'MESSAGE.REQUIRED'
          | translate: { field: 'CHANGE_PASSWORD.PASSWORD_CONFIRM' | translate }
      }}
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern')">
      {{ 'MESSAGE.VALIDATOR_PASSWORD' | translate }}
    </ng-container>
  </ng-template>
  <ng-template #passwordOld let-control>
    <ng-container *ngIf="control.hasError('required')">
      {{
        'MESSAGE.REQUIRED'
          | translate: { field: 'CHANGE_PASSWORD.PASSWORD_OLD' | translate }
      }}
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern')">
      {{ 'MESSAGE.VALIDATOR_PASSWORD' | translate }}
    </ng-container>
  </ng-template>
  <ng-template #passwordNew let-control>
    <ng-container *ngIf="control.hasError('required')">
      {{
        'MESSAGE.REQUIRED'
          | translate: { field: 'CHANGE_PASSWORD.PASSWORD_NEW' | translate }
      }}
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern')">
      {{ 'MESSAGE.VALIDATOR_PASSWORD' | translate }}
    </ng-container>
  </ng-template>
</div>
