<div *ngIf="vm$ | async as vm">
  <app-detail
    [imageUrl]="likeSong.image"
    type="Artist"
    [description]="likeSong.description"
    [title]="likeSong.title"
    [quantity]="vm.Song.length"
  ></app-detail>
  <app-play-button (click)="playMusicList(vm.Song)"></app-play-button>
  <app-title-list></app-title-list>
  <div
    class="items-center px-4 cursor-pointer h-14 hover:bg-white hover:bg-opacity-10"
  >
    <ng-container *ngFor="let song of vm.Song; let i = index">
      <app-playlist-track
        [index]="i"
        [song]="song"
        [showFavorite]="true"
        [playlist]="vm"
        (favorite)="removeMusicFavorite($event)"
        (addMusic)="addMusicToPlaylist($event)"
        (playMusic)="playMusicItem($event)"
      ></app-playlist-track>
    </ng-container>
  </div>
</div>
