:host {
  grid-area: nav-bar;
  z-index: 3;
  @apply w-[256px] h-full flex flex-col pt-6 bg-black;
}

.nav-link-container {
  .nav-link {
    border-radius: 4px;
    height: 40px;

    &.active {
      @apply text-white;
      background-color: #282828;
      font-weight: 600;
    }
  }

}
.size-logo {
  width: 50px;
}
