<a [routerLink]="playlist.id" class="flex flex-col flex-1">
  <div class="media-cover" [class.is-playing]="">
    <app-media-cover
      class="mb-4"
      [imageUrl]="playlist.image"
    ></app-media-cover>
    <app-play-button
      class="play-button-overlay"
      [primary]="true"
      [large]="true"
      [isPlaying]="false"
      asClickStopPropagation
    ></app-play-button>
  </div>
  <div class="media-description">
    <div class="font-bold text-white ellipsis-one-line hover:text-white">
      {{ playlist.title }}
    </div>
    <div class="text-description">
      {{ playlist.description }}
    </div>
  </div>
</a>
