<div *ngIf="vm$ | async as vm">
  <nz-table #basicTable [nzData]="vm.Album" [nzLoading]="vm.IsLoadingAlbum">
    <thead>
      <tr>
        <th
          [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>Tên bài hát</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td></td>
        <td>
          {{ data.name }}
          <img class="img-50" src="{{ data.image }}" />
        </td>
        <td>{{ data.description }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
