<div
  aria-roledescription="button"
  [title]="isPlaying ? 'Pause' : 'Play'"
  [ngClass]="buttonClass"
  (click)="playMusic.emit(song)"
>
  <span
    class="play-icon float-right"
    nz-icon
    [nzType]="isPlaying ? 'music:pause' : 'music:play'"
    style="font-size: 30px; color: #1fdf64;"
    nzTheme="outline"
  ></span>
  <span
    class="volume-icon float-right"
    nz-icon
    nzType="music:play"
    nzTheme="outline"
    *ngIf="isShowVolumeIcon"
    style="font-size: 30px; color: #1fdf64; "
  ></span>
</div>
