<nz-layout>
  <nz-header>
  </nz-header>
  <nz-content class="mt-6 flex justify-center">
    <div nz-col nzSpan="24" class="h-[100vh] p-[20px] max-w-[800px]">
      <nz-spin [nzSpinning]="false">
        <form
          nz-form
          [formGroup]="formGroup"
          [nzLayout]="'vertical'"
          className="form-login"
        >
          <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="20">
              <nz-form-item>
                <nz-form-label nzFor="'email'" class="font-semibold text-xl">
                  {{ 'LOGIN_FORM.EMAIL' | translate }}
                </nz-form-label>
                <nz-form-control
                  [nzErrorTip]="email"
                >
                  <input
                    type="email"
                    formControlName="email"
                    id="email"
                    nz-input
                    placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                    maxLength="50"
                    class="w-[760px] p-4 border border-gray-100 rounded-lg bg-white outline-none transition-all focus:border-blue-500"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-spin>
      <div class="flex justify-end">
        <button
          class="bg-[#1fdf64] text-black rounded-lg mt-5 font-semibold"
          nzSize="large"
          nz-button
        >
        {{ 'ACTION.FORGOT_PASSWORD' | translate }}
        </button>
      </div>
      <nz-divider></nz-divider>
      <h3 class="text-center font-semibold text-lg">Don't have an account?</h3>
      <button
        class="w-full text-[#6a6a6a] rounded-full mt-5 font-semibold"
        nz-button
        nzType="default"
        nzSize="large"
        routerLink="/register"
      >
        {{'LOGIN_FORM.SIGN_UP_FOR_APP' | translate}}
      </button>
    </div>
  </nz-content>
  <ng-template #email let-control>
    <ng-container *ngIf="control.hasError('required')">
      {{
        'MESSAGE.REQUIRED'
          | translate: { field: 'LOGIN_FORM.EMAIL' | translate }
      }}
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern')">
      {{
        'MESSAGE.VALIDATOR_EMAIL'| translate
      }}
    </ng-container>
  </ng-template>
</nz-layout>
