<div class="flex mb-10">
  <div class="flex-1">
    <input
      nz-input
      type="text"
      [formControl]="formControl"
      class="w-full p-4 text-black outline-none rounded-lg"
      placeholder="Bài hát, albums, or playlists"
    />
  </div>
  <button class="p-4 text-white" (click)="searchQuery()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      strokeWidth="2"
    >
      <path
        strokeLinecap="round"
        strokeLinejoin="round"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      />
    </svg>
  </button>
</div>
<h2 *ngIf="song.itemsSong" class="color-white">Song</h2>
<div class="grid grid-cols-6 gap-10 mt-5" *ngIf="song.itemsSong">
  <ng-container *ngFor="let item of song.itemsSong">
    <app-song [song]="item" (click)="playMusic(item)"></app-song>
  </ng-container>
</div>
<h2 *ngIf="song.itemsAlbum" class="color-white mt-4">Album</h2>
<div class="grid grid-cols-6 gap-10 mt-5" *ngIf="song.itemsAlbum">
  <ng-container *ngFor="let item of song.itemsAlbum">
    <app-ablum [album]="item" (click)="playAlbum(item.listSong)"></app-ablum>
  </ng-container>
</div>
