<div *ngIf="song$ | async as song">
  <app-detail
    [imageUrl]="song.image"
    type="Artist"
    [description]="song.description"
    [title]="song.name"
    [quantity]="1"
  ></app-detail>
  <app-play-button
    [song]="song"
    (playMusic)="playMusic($event)"
  ></app-play-button>
  <app-title-list></app-title-list>
  <div
    class="items-center px-4 cursor-pointer h-14 hover:bg-white hover:bg-opacity-10"
  >
    <div *ngIf="myplaylist$ | async as myplaylist">
      <app-playlist-track
        [index]="0"
        [song]="song"
        [playlist]="song"
        (favorite)="addSongFavorite($event)"
        [playlistUser]="myplaylist"
        (addMusicToPlaylist)="addMusicToPlaylist($event)"
        (playMusic)="playMusicItem($event)"
        [showFavorite]="checkLikeMusic(song.id)"
      ></app-playlist-track>
    </div>
  </div>
</div>
