<div nz-row>
  <div nz-col nzSpan="18">
    <form
      nz-form
      [formGroup]="formGroup"
      [nzLayout]="'vertical'"
      class="form-login"
    >
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzFor="'name'">
              <div class="text-white">
                {{ 'SIGN_UP_FORM.FULLNAME' | translate }}
              </div>
            </nz-form-label>
            <nz-form-control
              nzErrorTip="{{
                'MESSAGE.REQUIRED'
                  | translate: { field: 'SIGN_UP_FORM.FULLNAME' | translate }
              }}"
            >
              <input
                type="text"
                formControlName="name"
                id="name"
                nz-input
                placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                maxLength="50"
                class="w-[760px] p-4 border border-gray-100 rounded-lg bg-white outline-none transition-all focus:border-blue-500"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzFor="'email'">
              <div class="text-white">
                {{ 'SIGN_UP_FORM.EMAIL' | translate }}
              </div>
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="email"
            >
              <input
                type="email"
                formControlName="email"
                id="email"
                nz-input
                placeholder="{{ 'MESSAGE.INPUT_PLACEHOLDER' | translate }}"
                maxLength="50"
                class="w-[760px] p-4 border border-gray-100 rounded-lg bg-white outline-none transition-all focus:border-blue-500"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
    <div class="flex justify-center">
      <button
        class="bg-[#1fdf64] text-black rounded-lg mt-5 font-semibold"
        nzSize="large"
        nz-button
      >
        Cập nhập
      </button>
    </div>
  </div>
  <div nz-col nzSpan="6">
    <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
  </div>
  <ng-template #email let-control>
    <ng-container *ngIf="control.hasError('required')">
      {{
        'MESSAGE.REQUIRED'
          | translate: { field: 'SIGN_UP_FORM.EMAIL' | translate }
      }}
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern')">
      {{
        'MESSAGE.VALIDATOR_EMAIL'| translate
      }}
    </ng-container>
  </ng-template>
</div>
