:host {
  grid-area: now-playing-bar;
  background-color: rgba(0,21,41,.35);
  width: 100%;
  // z-index: 4;
  display: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.now-playing-container {
  min-width: 620px;
  background-color: #181818;
  border-top: 1px solid #282828;
  display: grid;
  grid-template-columns: minmax(180px, 30%) minmax(40%, 722px) minmax(180px, 30%);
  @apply px-4 items-center ;
  // @apply px-4 items-center h-nowPlayingBar;
}
.control-button {
  color: red;
}
