<nz-layout class="layout">
  <nz-header class="z-1 flex justify-between">
    <!-- <div class="logo">
      <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1664329417/MUSIC_MP3_ojp45n.png" alt="logo-music-mp3-admin" height="100px" width="100px" />
    </div> -->
    <ul
      nz-menu
      nzMode="horizontal"
      class="margin-top-16"
      style="border-bottom: none"
    >
      <nz-space>
        <button
          *nzSpaceItem
          routerLink="login"
          nz-button
          class="rounded-lg"
        >
          Đăng nhập
        </button>
        <button
          *nzSpaceItem
          routerLink="register"
          nz-button
          class="rounded-lg"
        >
          Đăng ký
        </button>
      </nz-space>
    </ul>
  </nz-header>
  <nz-content class="bg-sky-500/75">
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/dxd5emviu/image/upload/v1664329417/MUSIC_MP3_ojp45n.png" alt="" class="center">
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
