<div *ngIf="value$ | async as value">
  <app-detail
    [imageUrl]="value.image"
    type="Playlist"
    [description]="value.description"
    [title]="value.name"
    [quantity]="value.listSong.length"
  ></app-detail>
  <app-play-button (click)="playMusic(value.listSong)"></app-play-button>
  <app-title-list></app-title-list>
  <div
    *ngIf="value.listSong as song"
    class="items-center px-4 cursor-pointer h-14 hover:bg-white hover:bg-opacity-10"
  >
    <div *ngFor="let item of song; let i = index">
      <app-playlist-track
        [index]="i"
        [song]="item"
        [playlist]="value"
        (favorite)="addMusicFavorite($event)"
        (addMusic)="addMusicToPlaylist($event)"
        (playMusic)="playMusicItem($event)"
        [showButtonAddPlaylist]="false"
      ></app-playlist-track>
    </div>
  </div>
</div>
