@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/root';
@import './styles/scroll-bar';
@import './styles/page';
@import './styles/utilities';
@import './styles/global';
@import './styles/tabs';
@import './styles/tooltips';
@import './styles/spin';
@import './styles/dragula';
@import './styles/form';
@layer components {
  .btn-apply {
    @apply flex justify-center items-center ;
  }
}

.text-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  user-select: none;
  @apply overflow-hidden whitespace-normal text-sm text-white text-opacity-50;
}

.ellipsis-one-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: unset;
  word-break: break-all;
  overflow: hidden;
  user-select: none;
}

.link-subtle {
  color: #b3b3b4;

  &:hover {
    @apply text-white;
  }
}

.no-select {
  user-select: none;
}
.control-button {
  color: #b3b3b3;
  position: relative;
  @apply w-8 h-8 flex items-center justify-center cursor-pointer;

  &.large {
    @apply w-12 h-12;
  }
}
