<h1 class="px-6 pb-1 text-xs font-bold text-white uppercase text-opacity-60">
  Playlists
</h1>
<ul>
  <li class="px-2">
    <a
      routerLink="/main/collection"
      routerLinkActive="active"
      class="flex items-center px-4 nav-link link-subtle"
      >Bài hát yêu thích</a
    >
  </li>
</ul>
<div class="mx-6 separator"></div>
<ul class="playlists" *ngIf="vm$ | async as vm">
  <li class="p-2" *ngFor="let item of vm.Data">
    <app-nav-playlist [playlist]="item"></app-nav-playlist>
  </li>
</ul>
